<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
<form action="/register" method="post">
    <b>用户名:<input type="text" name="username" value="输入用户名"></input> </b><br>
    <b>密  码:<input type="password" name="password" value="输入密码"></input> </b><br>
    <b>类  型:<select name="userType" id="userTypeID">
        <option value="user">普通用户</option>
        <option value="admin">普通管理员</option>
        <option value="sysAdmin">系统管理员</option>
    </select></b><br>
    <b><input type="submit" value="提交"></input></b>
</form>

</body>
</html>